{% extends "bootstrap_base.html" %}

{% block primary %}
<div class="container">
        {% if state == 1 %}
                <div id="match_week_top container">
		<p class="text-center">
                        Week:
                        <a href="/match/week/1/">1</a> -
                        <a href="/match/week/2/">2</a> -
                        <a href="/match/week/3/">3</a> -
                        <a href="/match/week/4/">4</a> -
                        <a href="/match/week/5/">5</a> -
                        <a href="/match/week/6/">6</a> -
                        <a href="/match/week/7/">7</a> -
                        <a href="/match/week/8/">8</a> -
                        <a href="/match/week/9/">9</a> -
                        <a href="/match/week/10/">10</a> -
                        <a href="/match/week/11/">11</a> -
                        <a href="/match/week/12/">12</a> -
                        <a href="/match/week/13/">13</a> -
                        <a href="/match/week/14/">14</a> -
                        <a href="/match/week/15/">15</a> -
                        <a href="/match/week/16/">16</a> -
                        <a href="/match/week/17/">17</a> -
                        <a href="/match/week/18/">18</a> -
                        <a href="/match/week/19/">19</a> -
                        <a href="/match/week/20/">20</a> -
                        <a href="/match/week/21/">21</a> -
                        <a href="/match/week/22/">22</a> -
                        <a href="/match/week/23/">23</a> -
                        <a href="/match/week/24/">24</a> -
                        <a href="/match/week/25/">25</a> -
                        <a href="/match/week/26/">26</a>
		</p>
                </div>
                <div class="container col-lg-8">
                {% for m in matches %}
                <div class="panel panel-default">
                        <div class="match_week_top panel-heading">
				<p><b><a href="/match/{{ m.match.id }}/">{{ m.match.home_player.name }} vs. {{ m.match.away_player.name }}</a></b></p>
                        </div>
                        <table class="sortable table" id="match_outline_table" name="match_outline_table">
                                <tr>
                                        <th>Name</th>
                                        <th title="Fantasy Points">FP</th>
                                        <th title="Goals">G</th>
                                        <th title="Assists">A</th>
                                        <th title="Plus Minus">+/-</th>
                                        <th title="Offensive Special">OS</th>
                                        <th title="True Grit">TG</th>
                                        <th title="Goalie">Goalie</th>
                                        <th title="Shootout">SO</th>
                                        <th>Score</th>
                                        <th>In Action</th>
                                </tr>
                                <tr>
                                        <td>{{m.match.home_player|safe}}</td>
                                        <td>{{m.home.category_points.fantasy_points|default_if_none:"0"}}</td>
                                        <td>{{m.home.category_points.goals|default_if_none:"0"}}</td>
                                        <td>{{m.home.category_points.assists|default_if_none:"0"}}</td>
                                        <td>{{m.home.category_points.plus_minus|default_if_none:"0"}}</td>
                                        <td>{{m.home.category_points.offensive_special|default_if_none:"0"}}</td>
                                        <td>{{m.home.category_points.true_grit|default_if_none:"0"}}</td>
                                        <td>{{m.home.category_points.goalie|default_if_none:"0"}}</td>
                                        <td>{{m.home.category_points.shootout|default_if_none:"0"}}</td>
                                        <td>{{m.home.score}}</td>
                                        <td>{{m.home.in_action}}</td>
                                </tr>
                                <tr>
                                        <td>{{m.match.away_player|safe}}</td>
                                        <td>{{m.away.category_points.fantasy_points|default_if_none:"0"}}</td>
                                        <td>{{m.away.category_points.goals|default_if_none:"0"}}</td>
                                        <td>{{m.away.category_points.assists|default_if_none:"0"}}</td>
                                        <td>{{m.away.category_points.plus_minus|default_if_none:"0"}}</td>
                                        <td>{{m.away.category_points.offensive_special|default_if_none:"0"}}</td>
                                        <td>{{m.away.category_points.true_grit|default_if_none:"0"}}</td>
                                        <td>{{m.away.category_points.goalie|default_if_none:"0"}}</td>
                                        <td>{{m.away.category_points.shootout|default_if_none:"0"}}</td>
                                        <td>{{m.away.score}}</td>
                                        <td>{{m.away.in_action}}</td>
                                </tr>
                        </table>
                </div>
                {% endfor %}
		</div>
        {% else %}
                <p>Season schedule has not yet been released. Check back after the draft</p>
        {% endif %}
</div>
{% endblock %}

