{% extends "base.html" %}

{% block title %} {{ page_name }}{% endblock %}

{% block primary %}

        <div class="match">
                <div class="match_week_top">
                        <p><b>Match: {{ match.match.id }}</b></p>
                        <div class="match_player_names">
                                <p>{{ match.match.home_player }} vs. {{ match.match.away_player }}</p>
                        </div>
                </div>
                <table class="sortable" id="match_outline_table" name="match_outline_table">
                        <tr>
                                <th>Name</th>
                                <th title="Fantasy Points">FP</th>
                                <th title="Goals">G</th>
                                <th title="Assists">A</th>
                                <th title="Plus Minus">+/-</th>
                                <th title="Offensive Special">OS</th>
                                <th title="True Grit">TG</th>
                                <th title="Goalie">Goalie</th>
                                <th title="Shootout">SO</th>
                                <th>Score</th>
                                <th>In Action</th>
                        </tr>
                        <tr>
                                <td>{{match.match.home_player}}</td>
                                <td>{{match.home.category_points.fantasy_points|default_if_none:"0"}}</td>
                                <td>{{match.home.category_points.goals|default_if_none:"0"}}</td>
                                <td>{{match.home.category_points.assists|default_if_none:"0"}}</td>
                                <td>{{match.home.category_points.plus_minus|default_if_none:"0"}}</td>
                                <td>{{match.home.category_points.offensive_special|default_if_none:"0"}}</td>
                                <td>{{match.home.category_points.true_grit|default_if_none:"0"}}</td>
                                <td>{{match.home.category_points.goalie|default_if_none:"0"}}</td>
                                <td>{{match.home.category_points.shootout|default_if_none:"0"}}</td>
                                <td>{{match.home.score}}</td>
                                <td>{{match.home.in_action}}</td>
                        </tr>
                        <tr>
                                <td>{{match.match.away_player}}</td>
                        <tr>
                                <td>{{match.match.away_player}}</td>
                                <td>{{match.away.category_points.fantasy_points|default_if_none:"0"}}</td>
                                <td>{{match.away.category_points.goals|default_if_none:"0"}}</td>
                                <td>{{match.away.category_points.assists|default_if_none:"0"}}</td>
                                <td>{{match.away.category_points.plus_minus|default_if_none:"0"}}</td>
                                <td>{{match.away.category_points.offensive_special|default_if_none:"0"}}</td>
                                <td>{{match.away.category_points.true_grit|default_if_none:"0"}}</td>
                                <td>{{match.away.category_points.goalie|default_if_none:"0"}}</td>
                                <td>{{match.away.category_points.shootout|default_if_none:"0"}}</td>
                                <td>{{match.away.score}}</td>
                                <td>{{match.away.in_action}}</td>
                        </tr>
                </table>
        </div>

        <div class="daily_action">
        <h1>Daily Action</h1>
        <table id="daily_action" class="sortable">
                <tr>
                        <th>Team</th>
                        {% for x in match.home.daily_action %}<th>Day {{forloop.counter}}</th>{% endfor %}
                </tr>
                <tr>
                        <td>{{match.match.home_player}}</td>
                        {% for x in match.home.daily_action %}
                                <td>{{x}}</td>
                        {% endfor %}
                </tr>
                <tr>
                        <td>{{match.match.away_player}}</td>
                        {% for x in match.away.daily_action %}
                                <td>{{x}}</td>
                        {% endfor %}
                </tr>
        </table>

        <div class="expected_outcome">
                <h1>Expected Outcome</h1>
                <table id="expected_outcome" class="sortable">
                        <tr>
                                <th>Name</th>
                                <th title="Fantasy Points">FP</th>
                                <th title="Goals">G</th>
                                <th title="Assists">A</th>
                                <th title="Plus Minus">+/-</th>
                                <th title="Offensive Special">OS</th>
                                <th title="True Grit">TG</th>
                                <th title="Goalie">Goalie</th>
                                <th title="Shootout">SO</th>
                                <th>Score</th>
                        </tr>
                        <tr>
                                <td>{{match.match.home_player}}</td>
                                <td>{{match.home.expected.category_points.fantasy_points|default_if_none:"0"}}</td>
                                <td>{{match.home.expected.category_points.goals|default_if_none:"0"}}</td>
                                <td>{{match.home.expected.category_points.assists|default_if_none:"0"}}</td>
                                <td>{{match.home.expected.category_points.plus_minus|default_if_none:"0"}}</td>
                                <td>{{match.home.expected.category_points.offensive_special|default_if_none:"0"}}</td>
                                <td>{{match.home.expected.category_points.true_grit|default_if_none:"0"}}</td>
                                <td>{{match.home.expected.category_points.goalie|default_if_none:"0"}}</td>
                                <td>{{match.home.expected.category_points.shootout|default_if_none:"0"}}</td>
                                <td>{{match.home.expected.score}}</td>
                        </tr>
                        <tr>
                                <td>{{match.match.away_player}}</td>
                                <td>{{match.away.expected.category_points.fantasy_points|default_if_none:"0"}}</td>
                                <td>{{match.away.expected.category_points.goals|default_if_none:"0"}}</td>
                                <td>{{match.away.expected.category_points.assists|default_if_none:"0"}}</td>
                                <td>{{match.away.expected.category_points.plus_minus|default_if_none:"0"}}</td>
                                <td>{{match.away.expected.category_points.offensive_special|default_if_none:"0"}}</td>
                                <td>{{match.away.expected.category_points.true_grit|default_if_none:"0"}}</td>
                                <td>{{match.away.expected.category_points.goalie|default_if_none:"0"}}</td>
                                <td>{{match.away.expected.category_points.shootout|default_if_none:"0"}}</td>
                                <td>{{match.away.expected.score}}</td>
                        </tr>
                </table>
        </div>

        <div class="hometeam">
                <h1>Home Team</h1>
                <table class="sortable" id="hometeam">
                        <tr>
                                <th>Name</th>
                                <th>Team</th>
                                <th>Pos</th>
                                <th title="Fantasy Points">FP</th>
                                <th title="Goals">G</th>
                                <th title="Assists">A</th>
                                <th title="Plus Minus">+/-</th>
                                <th title="Offensive Special">OS</th>
                                <th title="True Grit">TG</th>
                                <th title="Goalie">Goalie</th>
                                <th title="Shootout">SO</th>
                                <th>Num Games</th>
                        </tr>
                {% for h in match.home.team %}
                        <tr>
                                <td>{% if h.active == 1 %}<b>{% endif %}<a href="/skater/{{h.skater.nhl_id}}/">{{h.skater}}</a>{% if h. == 1 %}</b>{% endif %}</td>
                                <td>{{h.skater.hockey_team}}</td>
                                <td>{{h.skater.position}}</td>
                                <td>{{h.category_points.fantasy_points|default_if_none:"0"}}</td>
                                <td>{{h.category_points.goals|default_if_none:"0"}}</td>
                                <td>{{h.category_points.assists|default_if_none:"0"}}</td>
                                <td>{{h.category_points.plus_minus|default_if_none:"0"}}</td>
                                <td>{{h.category_points.offensive_special|default_if_none:"0"}}</td>
                                <td>{{h.category_points.true_grit|default_if_none:"0"}}</td>
                                <td>{{h.category_points.goalie|default_if_none:"0"}}</td>
                                <td>{{h.category_points.shootout|default_if_none:"0"}}</td>
                                <td>{{h.num_games}}</td>
                        </tr>
                {% endfor %}
                </table>
        </div>

        <div class="awayteam">
                <h1>Away Team</h1>
                <table class="sortable" id="awayteam">
                        <tr>
                                <th>Name</th>
                                <th>Team</th>
                                <th>Pos</th>
                                <th title="Fantasy Points">FP</th>
                                <th title="Goals">G</th>
                               <th title="Assists">A</th>
                                <th title="Plus Minus">+/-</th>
                                <th title="Offensive Special">OS</th>
                                <th title="True Grit">TG</th>
                                <th title="Goalie">Goalie</th>
                                <th title="Shootout">SO</th>
                                <th>Num Games</th>
                        </tr>
                {% for h in match.away.team %}
                        <tr>
                                <td>{% if h.active == 1 %}<b>{% endif %}<a href="/skater/{{h.skater.nhl_id}}/">{{h.skater}}</a>{% if h. == 1 %}</b>{% endif %}</td>
                                <td>{{h.skater.hockey_team}}</td>
                                <td>{{h.skater.position}}</td>
                                <td>{{h.category_points.fantasy_points|default_if_none:"0"}}</td>
                                <td>{{h.category_points.goals|default_if_none:"0"}}</td>
                                <td>{{h.category_points.assists|default_if_none:"0"}}</td>
                                <td>{{h.category_points.plus_minus|default_if_none:"0"}}</td>
                                <td>{{h.category_points.offensive_special|default_if_none:"0"}}</td>
                                <td>{{h.category_points.true_grit|default_if_none:"0"}}</td>
                                <td>{{h.category_points.goalie|default_if_none:"0"}}</td>
                                <td>{{h.category_points.shootout|default_if_none:"0"}}</td>
                                <td>{{h.num_games}}</td>
                        </tr>
                {% endfor %}
                </table>
        </div>
<p>Note: bold text indicates the player is in action today.</p>

{% endblock %}

