{% extends "bootstrap_base.html" %}

{% block page_js %}
<script src="/scripts/draft/draft.js"></script>
{% endblock %}

{% block primary %}
<div class="container">

{% if errors == 1 %}
        <p>Errors:<p>
        <ul>{{message}}</ul>
{% else %}
        {% if status == 0 %}
        <div id="player_status_text">
                <p>Not all players ready to start draft. The following is the current status of all players:</p>
        </div>
        <div id="player_draft_status" class="player_draft_status">
                <table id="ready_status" class="table table-nonfluid table-striped">
                        <tr>
                                <th>Team</th>
                                <th>Status</th>
                        </tr>
                        <tr>
                        {% for x in statuses %}
                        <tr>
                                <td>{{x.player}}</td><td>{% if x.status == 0 %}Not Ready{% else %}Ready{% endif %}</td>
                        </tr>
                        {%endfor%}
                </table>
        </div>
        <div id="ready_form">
                <p>Are you ready? Indicate so by using the following form: <br />

                Ready:<select name="draft_ready" id ="draft_ready">
                        <option value="not_ready" {% if player_status == 0 %}selected="selected" {%endif%}>Not Ready</option>
                        <option value="ready" {% if player_status == 1 %}selected="selected" {%endif%}>Ready</option>
                </select>
                <button id="draft_ready_button" onclick="update_status()">Submit!</button>
        </div>

        {% else %}

        <p style="text-align:center">Draft round:
        <a href="/draft/round/1/">1</a> -
        <a href="/draft/round/2/">2</a> -
        <a href="/draft/round/3/">3</a> -
        <a href="/draft/round/4/">4</a> -
        <a href="/draft/round/5/">5</a> -
        <a href="/draft/round/6/">6</a> -
        <a href="/draft/round/7/">7</a> -
        <a href="/draft/round/8/">8</a> -
        <a href="/draft/round/9/">9</a> -
        <a href="/draft/round/10/">10</a> -
        <a href="/draft/round/11/">11</a> -
        <a href="/draft/round/12/">12</a> -
        <a href="/draft/round/13/">13</a> -
        <a href="/draft/round/14/">14</a> -
        <a href="/draft/round/15/">15</a> -
        <a href="/draft/round/16/">16</a> -
        <a href="/draft/round/17/">17</a> -
        <a href="/draft/round/18/">18</a> -
        <a href="/draft/round/19/">19</a> - 
        <a href="/draft/round/20/">20</a>
        </p>
        {% if over == 0 %}
	<div class="container">
		<div class="col-md-12">
			{% if is_turn == 1 %}
			<div class="col-md-5" id="draft_player_select">
				<div id="time_remaining">
					<h1 id="time_remaining_text">Time remaining: {{time_left}}</h1>
				</div>
			</div>
			<div class="col-md-7" id="draft_pick_button">
				<table>
					<tr>
						<td>It's your turn. Draft a player: &nbsp;</td>
						<td>
							<form>
								<input type="text" value="" name="draft_pick" id="draft_pick" onkeyup="draft_player()" />
								<input type="hidden" value="" name="draft_pick_id" id="draft_pick_id" />
							</form>
						<div id="draft_suggestions"></div>
						</td>
						<td><button id="pick_player" onclick="select_player()">Pick!</button></td>
					</tr>
				</table>
			</div>
			{% else %}
			<div class="col-md-5" id="draft_player_select">
				<p>It is not currently your turn</p>
				<div id="time_remaining">
					<h1 id="time_remaining_text">Time remaining: {{time_left}}</h1>
				</div>
			</div>
			<div class="col-md-7" id="draft_pick_button">
			</div>
			{%endif%}
		</div>
                <div class="container">
                        <div class="col-md-3">
                                <p id="current_round_p">The current round is: <b>{{current_round}}</b></p>
                                <p>The current order for this round is:</p>
                                <div id="draft_round_order">
					<table class="table table-striped table-nonfluid" id="draft_order_table">
						<tr>
							<th>Pick</th>
							<th>Team</th>
							<th>Player</th>
						</tr>
						{% autoescape off %}{%for x in round_order %}<tr><td>{{x.number}}</td><td>{{x.player}}</td><td>{{x.pick}}</td></tr>{%endfor%}{% endautoescape %}
                                        </table>
                                </div>
                        </div>
			<div class="col-md-6" id="current_team">
				{% autoescape off %}
				<div class="container-fluid">
					<div class="col-md-4" id="left_wing">
						<p class="text-center"><b>LW</b></p>
						<ol>{% for x in lw %}<li>{{x}}</li>{% endfor %}</ol>
					</div>
					<div class="col-md-4" id="center">
						<p class="text-center"><b>C</b></p>
						<ol>{% for x in c %}<li>{{x}}</li>{% endfor %}</ol>
					</div>
					<div class="col-md-4" id="right_wing">
						<p class="text-center"><b>RW</b></p>
						<ol>{% for x in rw %}<li>{{x}}</li>{% endfor %}</ol>
					</div>
				</div>
				<div class="container-fluid" id="defense">
					<div class="col-md-4 col-md-offset-2" id="l_defense">
						<p class="text-center"><b>D</b></p>
					       <ol>{% for x in ld %}<li>{{x}}</li>{% endfor %}</ol>
					</div>
					<div class="col-md-4" id="r_defense">
						<p class="text-center"><b>D</b></p>
						<ol>{% for x in rd %}<li>{{x}}</li>{% endfor %}</ol>
					</div>
				</div>
				<div id="goalie" class="container-fluid col-md-4 col-md-offset-4">
					<p class="text-center"><b>G</b></p>
					<ol>{% for x in g %}<li>{{x}}</li>{% endfor %}</ol>
				</div>
				{% endautoescape %}
			</div>
                        <div class="col-md-3">
                                <p style="text-align:center"><b>Undrafted Players:</b></p>
				<table>
					<tr>
						<td>Sort: &nbsp;</td>
						<td>
							<select id="undrafted_sort_by">
								<option value="fantasy_points">Fantasy Points</option>
								<option value="goals">Goals</option>
								<option value="assists">Assists</option>
								<option value="plus_minus">Plus Minus</option>
								<option value="offensive_special">Offensive Special</option>
								<option value="true_grit">True Grit</option>
								<option value="goalie">Goalie</option>
								<option value="shootout">Shootout</option>
							</select>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<p>In no particular order:</p>
						</td>
					</tr>
				</table>
                                <table id="top_player_list" class="table table-nonfluid">
                                        {% autoescape off %}{% for x in top_picks %}<tr><td>{{x.get_position}}</td><td>{{x}}</td></tr>{% endfor %}{% endautoescape %}
                                </table>
                        </div>
		</div>
		{% else %}
			<h1>Draft is over</h1>
		{% endif %}
        </div>
        {% endif %}
{% endif %}
</div>
{% endblock %}

