{% extends "base.html" %}
{% block title %}{{page_name}}{% endblock %}

{% block primary %}
<script type="text/javascript">
        {% if status != 0 %}
        setInterval(function(){reduceTimer()},1000);
        {% endif %}
        setInterval(function(){pageUpdate()},8000);

        function reduceTimer() {
                var element = document.getElementById("time_remaining_text");
                if (typeof(element) != 'undefined' && element != null) {
                        var curr_text = element.innerHTML;
                        var curr_time = curr_text.match(/[-\d]+/);
                        var new_time = curr_time - 1;
                        document.getElementById("time_remaining_text").innerHTML = "Time remaining: " + new_time;
                }
        }

        function pageUpdate() {
                $.getJSON("/ajax/draftUpdate",function(data, textStatus, jqXHR){
                        if (data.state == "draft") {
                                var time_html = "Time remaining: " + data.time_left;
                                var current_round_html = "The current round is: <b>" + data.current_round + "</b>";
                                var round_order_html = '<ol>';
                                for(var i = 0; i < data.round_order.length; i++){
                                        round_order_html += "<li>" + data.round_order[i] + "</li>";
                                }
                                round_order_html += "</ol>";
                                var top_player_html = "<ul>";
                                for(var i = 0; i < data.top_picks.length; i++){
                                        top_player_html += '<li>' + data.top_picks[i][2] + ' - <a href="/skater/' + data.top_picks[i][0] + '/">' + data.top_picks[i][1] + '</a></li>';
                                }
                                top_player_html += "</ul>";

                                var left_wing_html = "";
                                var right_wing_html = "";
                                var center_html = "";
                                var ldefense_html = "";
                                var rdefense_html = "";
                                var goalie_html = "";

                                for (i = 0; i < data.lw.length; i++){
                                        left_wing_html += "<li>" + data.lw[i] + "</li>";
                                }

                                for (i = 0; i < data.rw.length; i++){
                                        right_wing_html += "<li>" + data.rw[i] + "</li>";
                                }

                                for (i = 0; i < data.c.length; i++){
                                        center_html += "<li>" + data.c[i] + "</li>";
                                }

                                for (i = 0; i < data.ld.length; i++){
                                        ldefense_html += "<li>" + data.ld[i] + "</li>";
                                }

                                for (i = 0; i < data.rd.length; i++){
                                        rdefense_html += "<li>" + data.rd[i] + "</li>";
                                }

                                for (i = 0; i < data.g.length; i++){
                                        goalie_html += "<li>" + data.g[i] + "</li>";
                                }

                                $(".left_wing ol").html(left_wing_html);
                                $(".right_wing ol").html(right_wing_html);
                                $(".center ol").html(center_html);
                                $(".l_defense ol").html(ldefense_html);
                                $(".r_defense ol").html(rdefense_html);
                                $(".goalie ol").html(goalie_html);

                                if (data.is_turn == 1) {
                                        if(document.getElementById("draft_pick")) {
                                                var str = document.getElementById("draft_pick").value;
                                        } else {
                                                var str = "";
                                        }
                                        var element = document.getElementById("draft_pick");
                                        if (typeof(element) != 'undefined' && element != null) {
                                                $("#time_remaining").html('<h1 id="time_remaining_text">' + time_html + '/h1>');
                                        } else {
                                                $("#draft_player_select").html('<div id="time_remaining"><h1 id="time_remaining_text">' + time_html + '</h1></div><form><input type="text" value="' + str + '" name="draft_pick" id="draft_pick" onkeyup="draft_player()" /></form><button id="pick_player" onclick="select_player()">Pick!</button><div id="draft_suggestions"></div>');
                                        draft_player();
                                        }
                                } else{
                                        $("#draft_player_select").html('<p>It is not currently your turn</p><div id="time_remaining"><h1 id="time_remaining_text">Time remaining: 60</h1></div>');
                                        $("#draft_suggestions").html("");
                                }
                                $("#time_remaining_text").html(time_html);
                                $("#current_round_p").html(current_round_html);
                                $("#draft_round_order").html(round_order_html);
                                $("#top_player_list").html(top_player_html);
                        } else if (data.state == "ready") {
                                var status_html = '<tr><th>Team</th><th>Status</th></tr>';
                                for (var i = 0; i < data.player_status.length; i++) {
                                        status_html += "<tr><td>" + data.player_status[i][1] + "</td>";
                                        if (data.player_status[i][0] == 0) {
                                                status_html += "<td>Not Ready</td>";
                                        } else {
                                                status_html += "<td>Ready</td>";
                                        }
                                        status_html += "</tr>";
                                }
                                $("#ready_status").html(status_html);
                                sortables_init();
                        } else if (data.state == "finished") {
                                $(".draft_container").html("<h1>Draft is over</h1>");
                                $("#draft_player_select").html("");
                        } else {
                                $("#player_draft_status").html("<h1>Draft will commence in less than 60 seconds.</h1>");
                                $("#ready_form").html(" ");
                                $("#player_status_text").html("<p>All players ready. Draft will commence shortly</p>");
                                var date = new Date();
                               var time = date.getTime();
                                time = (time/1000) % 60;
                                time = 65 - time;
                                setTimeout("location.reload(true);", time*1000);
                        }
                })};

        function update_status() {
                var e = document.getElementById("draft_ready");
                var draft_status = e.options[e.selectedIndex].value;
                if (draft_status == "not_ready") {
                        var draft_var = 0;
                } else {
                        var draft_var = 1;
                }
                var postData = {"status" : draft_var, "csrfmiddlewaretoken": '{{ csrf_token }}'}
                $.post("/ajax/updateStatus", postData, function(data, status) {
                        if (data.errors == 1) {
                                alert("Fail:\n\n Did not successfully update status. Contact the comissioner");
                        }
                });
        }

        function select_player() {
                var player_name = document.getElementById("draft_pick").value;
                var postData = {"player_name" : player_name, "csrfmiddlewaretoken": '{{ csrf_token }}'};
                $.post("/ajax/pickPlayer", postData, function(data, status){
                        if (data.errors == 1) {
                                alert("Fail:\n\n" + data.message);
                        } else {
                                alert("Success:\n\n" + data.message);
                        }
                });
        }
</script>

{% if errors == 1 %}
        <p>Errors:<p>
        <ul>{{message}}</ul>
{% else %}
        {% if status == 0 %}
        <div id="player_status_text">
                <p>Not all players ready to start draft. The following is the current status of all players:</p>
        </div>
        <div id="player_draft_status" class="player_draft_status">
                <table id="ready_status" class="sortable">
                        <tr>
                                <th>Team</th>
                                <th>Status</th>
                        </tr>
                        <tr>
                        {% for x in statuses %}
                        <tr>
                                <td>{{x.player}}</td><td>{% if x.status == 0 %}Not Ready{% else %}Ready{% endif %}</td>
                        </tr>
                        {%endfor%}
                </table>
        </div>
        <div id="ready_form">
                <p>Are you ready? Indicate so by using the following form: <br />

                Ready:<select name="draft_ready" id ="draft_ready">
                        <option value="not_ready" {% if player_status == 0 %}selected="selected" {%endif%}>Not Ready</option>
                        <option value="ready" {% if player_status == 1 %}selected="selected" {%endif%}>Ready</option>
                </select>
                <button id="draft_ready_button" onclick="update_status()">Submit!</button>
        </div>

        {% else %}

        <p style="text-align:center">Draft round:
        <a href="/draft/round/1/">1</a> -
        <a href="/draft/round/2/">2</a> -
        <a href="/draft/round/3/">3</a> -
        <a href="/draft/round/4/">4</a> -
        <a href="/draft/round/5/">5</a> -
        <a href="/draft/round/6/">6</a> -
        <a href="/draft/round/7/">7</a> -
        <a href="/draft/round/8/">8</a> -
        <a href="/draft/round/9/">9</a> -
        <a href="/draft/round/10/">10</a> -
        <a href="/draft/round/11/">11</a> -
        <a href="/draft/round/12/">12</a> -
        <a href="/draft/round/13/">13</a> -
        <a href="/draft/round/14/">14</a> -
        <a href="/draft/round/15/">15</a> -
        <a href="/draft/round/16/">16</a> -
        <a href="/draft/round/17/">17</a> -
        <a href="/draft/round/18/">18</a> -
        <a href="/draft/round/19/">19</a>
        </p>
        {% if over == 0 %}
                <div class="draft_container">
                        <div class="draft_info_container">
                                <p id="current_round_p">The current round is: <b>{{current_round}}</b></p><br />
                                <p>The current order for this round is:</p>
                                <div id="draft_round_order">
                                        <ol>
                                        {%for x in round_order %}<li>{{x.player}}{% if x.pick != None %} - {{x.pick}}{% endif %}</li>{%endfor%}
                                        </ol>
                                </div>
                        </div>
                        <div class="current_team">
                                <p><b>Current Team:</b></p>
                                <div class="forwards">
                                        <div class="left_wing">
                                                <p><b>LW</b></p>
                                                <ol>{% for x in lw %}<li>{{x}}</li>{% endfor %}</ol>
                                        </div>
                                        <div class="center">
                                                <p><b>C</b></p>
                                                <ol>{% for x in c %}<li>{{x}}</li>{% endfor %}</ol>
                                        </div>
                                        <div class="right_wing">
                                                <p><b>RW</b></p>
                                                <ol>{% for x in rw %}<li>{{x}}</li>{% endfor %}</ol>
                                        </div>
                                </div>
                                <div class="defense">
                                        <div class="l_defense">
                                                <p><b>D</b></p>
                                               <ol>{% for x in ld %}<li>{{x}}</li>{% endfor %}</ol>
                                        </div>
                                        <div class="r_defense">
                                                <p><b>D</b></p>
                                                <ol>{% for x in rd %}<li>{{x}}</li>{% endfor %}</ol>
                                        </div>
                                </div>
                                <div class="goalie">
                                        <p><b>G</b></p>
                                        <ol>{% for x in g %}<li>{{x}}</li>{% endfor %}</ol>
                                </div>
                        </div>
                        <div class="top_player_container">
                                <p style="text-align:center"><b>Undrafted Players:</b></p>
                                <div id="top_player_list">
                                        <ul>{% for x,y,z in top_picks %}<li>{{z}} - <a href="/skater/{{x}}/">{{y}}</a></li>{% endfor %}</ul>
                                </div>
                        </div>
                </div>
                <div class="draft_player_select" id="draft_player_select">
                        {% if is_turn == 1 %}
                        <div id="time_remaining">
                                <h1 id="time_remaining_text">Time remaining: {{time_left}}</h1>
                        </div>
                        <form>
                                <input type="text" value="" name="draft_pick" id="draft_pick" onkeyup="draft_player()" />
                        </form>
                        <button id="pick_player" onclick="select_player()">Pick!</button>
                        <div id="draft_suggestions"></div>
                </div>
                        {% else %}
                        <p>It is not currently your turn</p>
                        <div id="time_remaining">
                                <h1 id="time_remaining_text">Time remaining: {{time_left}}</h1>
                        </div>
                        {%endif%}
        {% else %}
                <h1>Draft is over</h1>
        {% endif %}
        </div>

        {% endif %}
{% endif %}
{% endblock %}

