{% extends "bootstrap_base.html" %}

{% block primary %}
	<div class="container">

        {% if form.errors %}
                <p>Your username and password didn't match, please try again.</p>
        {% endif %}

	<form class="form-horizontal" method="POST" action=""> {% csrf_token %}
	  <fieldset>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
	      <div class="col-lg-10">
		{{ form.username }}
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
	      <div class="col-lg-10">
		{{ form.password }}
	      </div>
	    </div>
	    <div class="form-group">
	      <div class="col-lg-10 col-lg-offset-2">
		<button type="submit" class="btn btn-primary" >Submit</button>
	      </div>
	    </div>
	  </fieldset>
	</form>
{% endblock %}

