.table-nonfluid {
   width: auto;
}

.navbar {
  margin-bottom: 0px;
}
	
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

@media (max-width: 767px){
  .navbar {
    min-height: 0px;
  }
}
@media (min-width:768px){
  .navbar-nav li {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (min-width:992px){
  .navbar-nav li {
    margin-left: 14px;
    margin-right: 14px;
  }
}
@media (min-width:1200px){
  .navbar-nav li {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.notification_div {
    box-shadow: 0.333em 0.333em 0.667em rgba(0, 0, 0, 0.24);
    color: black;
    font-family: "OpenSansCondensedBold";
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
    display: none;
    width: auto;
}

div.skaterPopUp {
  box-shadow: 0 0 15px #111;
  position: relative;
  width: 650px;
  display: inline-block;
  overflow: auto;
}

div.skaterPopUp p > label:first-child {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 5px;
  padding-right: 35px;
  text-align: right;
  width: 125px;
}

div.skaterPopUp p.wide > label:first-child {
  width:175px;
}

div.skaterPopUp h4.popUpHeader {
  margin-left: 10px;
  float: left;
}

div.skaterPopUp span.popUpClose {
  margin-right: 10px;
  margin-top: -5px;
  float: right;
  font-size: 28px;
}

div.skaterPopUp span.popUpClose a {
  color: #98978b;
  text-decoration: none;
}

div.skaterPopUp div.skaterPopUpHeader {
  background-color: #3e3f3a;
  color: #98978b;
  border-bottom: 1px solid #878787;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #242424;
  height: 41px;
}

div.skaterPopUp div.skaterPopUpBody {
  border: 0px 1px 0px 1px solid #242424;
  overflow: hidden;
  background-color: #fff;
}

div.skaterPopUp div.skaterPopUpFooter {
  height: 17px;
  color: #98978b;
  background-color: #fff;
  border-bottom: 1px solid #878787;
  border-radius: 0 0 5px 5px;
  padding-bottom: 15px;
}

tr.strong td {
    font-weight: bold;
}
