{% extends "base.html" %}

{% block title %}{{page_name}}{% endblock %}

{% block primary %}
<link rel="stylesheet" type="text/css" href="/newthread.css" />
<div id="newpost" class="newpost">
        <form method="POST" action="">{% csrf_token %}
                <div id="above_post_message" class="above_post_message">
                        <h2 class="blockhead">Your Message</h1>
                </div>
                <div id="title_block" class="title_block">
                        <label class="full">Title:</label>
                        <input id="newthread_subject" name="newthread_subject" class="newthread_subject" type="text"></input>
                </div>
                <div id="newthread_block" class="newthread_block">
                        <label class="full">Post:</label>
                        <textarea id="newthread_post" class="newthread_post" name="newthread_post"></textarea>
                </div>
                <input type="submit" value="Submit"></input>
        </form>
</div>
{% endblock %}

