{% extends "base.html" %}

{% block title %}{{page_name}}{% endblock %}

{% block primary %}
<link rel="stylesheet" type="text/css" href="/thread.css" />
<div id="thread_div" class="thread_div">
        <div id="above_thread_list" class="above_thread_list">
                <a class="new_thread_button" href="/forum/newthread/{{forum_id}}">New Thread</a>
                <div class="thread_page_nav">
                        <p>Threads 1 - 20 of 28934</p>
                </div>
        </div>
        <div id="thread_list" class="thread_list">
                <div class="thread_list_head">
                        <span class="thread_info">Title/Author</span>
                        <span class="thread_stats">Thread/Posts</span>
                        <span class="thread_last_post">Last Post By</span>
                </div>
                <ol id="threads" class="threads">

{% for t in thread %}
                        <li id="threads_bit" class="threads_bit">
                                <div class="thread_info">
                                        <div class="inner">
                                                <h3 class="thread_title"><a href="/forum/thread/{{t.id}}/">{{t.title}}</a></h3>
                                                <div class="thread_meta">
                                                        <span class="thread_description">{{f.post_date}}</span>
                                                </div>
                                        </div>
                                </div>
                                <ul class="thread_stats">
                                        <li>{{f.posts}}</li>
                                        <li>{{f.views}}</li>
                                </ul>
                                <dl class="thread_last_post">
                                        <dd>{{f.last_poster_id}}</dd>
                                        <dd>{{f.last_post_time}}</dd>
                                </dl>
                        </li>
{% endfor %}
                </ol>
</div>
{% endblock %}

