{% extends "base.html" %}

{% block title %}{{page_name}}{% endblock %}

{% block primary %}
<link rel="stylesheet" type="text/css" href="/posts.css" />
<div id="posts_div" class="posts_div">
        <div id="above_posts_list" class="above_posts_list">
                <a class="new_reply_button" href="/forum/thread/{{thread.id}}/reply/">Reply</a>
                <div class="posts_page_nav">
                        <p>Posts 1 - 20 of 28934</p>
                </div>
        </div>
        <div id="posts_list" class="posts_list">
                <ol id="posts" class="posts">
{% for p in posts %}
                        <li id="post_list" class="post_list">
                                <div class="posthead">
                                        <span class="postdate">{{p.created}}</span>
                                        <span class="number">#{{forloop.counter | add:offset}}</span>
                                </div>
                                <div class="post_body">
                                        <ol id="post_list_body" class="post_list_body">
                                                <li id="post_user_info" class="post_user_info">
                                                        <div id="user_info" class="user_info">
                                                                <span class="poster_username">{{p.creator}}</span>
                                                                <span class="poster_forum_info">Avatar/post info here later</span>
                                                        </div>
                                                        <ul class="post_text">
                                                                {{p.body}}
                                                        </ul>
                                                </li>
                                        </ol>
                                </div>
                        </li>
{% endfor %}
                </ol>
        </div>
</div>
        <link rel="stylesheet" type="text/css" href="/newpost.css" />
        <div id="newpost" class="newpost">
                <form method="POST" action="">
                        <div id="above_post_message" class="above_post_message">
                                <h2 class="blockhead">Your Message</h1>
                        </div>
                        <div id="newpost_block" class="newpost_block">
                                <label class="full">Post:</label>
                                <textarea id="newthread_post" class="newthread_post" name="newthread_post"></textarea>
                        </div>
                        <input type="submit" value="Submit"></input>
                </form>
        </div>
{% endblock %}


