{% extends "bootstrap_base.html" %}

{% block primary %}
<div class="container lg-12">
<form action="" method="POST">
{% csrf_token %}
<p>Position:
<select name="position" id="position">
        <option value="F" {% if position == "F" %} selected="selected" {% endif %}>Skaters</option>
        <option value="D" {% if position == "D" %} selected="selected" {% endif %}>Defense</option>
        <option value="C" {% if position == "C" %} selected="selected" {% endif %}>Center</option>
        <option value="L" {% if position == "L" %} selected="selected" {% endif %}>Left Wing</option>
        <option value="R" {% if position == "R" %} selected="selected" {% endif %}>Right Wing</option>
        <option value="G" {% if position == "G" %} selected="selected" {% endif %}>Goalie</option>
</select></p>
<p>Sort By:
<select name="sortby" id="sortby">
        <option value="goals" {% if sortby == "goals" %} selected="selected" {% endif %} >Goals</option>
        <option value="assists" {% if sortby == "assists" %} selected="selected" {% endif %}>Assists</option>
        <option value="plus_minus" {% if sortby == "plus_minus" %} selected="selected" {% endif %}>Plus Minus</option>
        <option value="fantasy_points" {% if sortby == "fantasy_points" %} selected="selected" {% endif %}>Fantasy Points</option>
</select>
</p>
<p>Number of Results
<select name="resultnumber" id="resultnumber">
        <option value="5" {% if sortnumber == "5" %} selected="selected" {% endif %}>5</option>
        <option value="10" {% if sortnumber == "10" %} selected="selected" {% endif %}>10</option>
        <option value="25" {% if sortnumber == "25" %} selected="selected" {% endif %}>25</option>
        <option value="50" {% if sortnumber == "50" %} selected="selected" {% endif %}>50</option>
        <option value="100" {% if sortnumber == "100" %} selected="selected" {% endif %}>100</option>
        <option value="200" {% if sortnumber == "200" %} selected="selected" {% endif %}>200</option>
        <option value="500" {% if sortnumber == "500" %} selected="selected" {% endif %}>500</option>
        <option value="10000" {% if sortnumber == "10000" %} selected="selected" {% endif %}>No Limit</option>
</select>
</p>
<p>Only free agents:
<select name="only_freeagents" id="only_freeagents">
        <option value ="0" {% if only_freeagents == "0" %} selected="selected" {% endif %}>Yes</option>
        <option value ="1" {% if only_freeagents == "1" %} selected="selected" {% endif %}>No</option>
</select>
</p>
<p>Weeks to go back:
<select name="weeks" id="weeks">
        <option value="0" {% if weeks == "0" %} selected="selected" {% endif %}>All</option>
        <option value="1" {% if weeks == "1" %} selected="selected" {% endif %}>1</option>
        <option value="2" {% if weeks == "2" %} selected="selected" {% endif %}>2</option>
        <option value="3" {% if weeks == "3" %} selected="selected" {% endif %}>3</option>
        <option value="4" {% if weeks == "4" %} selected="selected" {% endif %}>4</option>
        <option value="5" {% if weeks == "5" %} selected="selected" {% endif %}>5</option>
</select>
<p>
<p>View Type:
<select name="view_type" id="view_type">
        <option value="0" {% if view_type == "0" %} selected="selected" {% endif %}>Stats</option>
        <option value="1" {% if view_type == "1" %} selected="selected" {% endif %}>Category</option>
</select>
<input type="submit" value="Submit" />
<p>
<table class="sortable table table-striped" id="freeagents_table">
{% if weeks == "0" %}
        {% if position == "G" %}
                {% if view_type == "0" %}
                        <tr>
                                <th>Name</th>
                                {% if only_freeagents == "1" %}<th>Owner</th>{% endif %}
                                <th>Team</th>
                                <th>Pos</th>
                                <th>GP</th>
                                <th>G</th>
                                <th>A</th>
                                <th>P</th>
                                <th>PIM</th>
                                <th>W</th>
                                <th>OTL</th>
                                <th>SO</th>
                                <th>PSS</th>
                                <th>PGA</th>
                                <th>SOS</th>
                                <th>SGA</th>
                                <th>Sv</th>
                                <th>GA</th>
                                <th>FP</th>
                        </tr>
                        {% for f in free_agents %}
                                <tr>
                                        <td>{{f.skater.name}}</td>
                                        {% if only_freeagents == "1" %}<td>{{f.skater.get_owner}}</td>{% endif %}
                                        <td>{{f.skater.hockey_team}}</td>
                                        <td>{{f.skater.position}}</td>
                                        <td>{{f.skater.games}}</td>
                                        <td>{{f.skater.goals}}</td>
                                        <td>{{f.skater.assists}}</td>
                                        <td>{{f.skater.points}}</td>
                                        <td>{{f.skater.pims}}</td>
                                        <td>{{f.skater.wins}}</td>
                                        <td>{{f.skater.otloss}}</td>
                                        <td>{{f.skater.shutouts}}</td>
                                        <td>{{f.skater.shootout_save}}</td>
                                        <td>{{f.skater.shootout_ga}}</td>
                                        <td>{{f.skater.penshot_save}}</td>
                                        <td>{{f.skater.penshot_ga}}</td>
                                        <td>{{f.skater.saves}}</td>
                                        <td>{{f.skater.goals_against}}</td>
                                        <td>{{f.skater.fantasy_points}}</td>
                                </tr>
                        {% endfor %}
                {% else %}
                        <tr>
                                <th>Name</th>
                                {% if only_freeagents == "1" %}<th>Owner</th>{% endif %}
                                <th>Team</th>
                                <th>Pos</th>
                                <th>GP</th>
                                <th>Fantasy</th>
                                <th>Goals</th>
                                <th>Assists</th>
                                <th>+/-</th>
                                <th>Specialty</th>
                                <th>True Grit</th>
                                <th>Goalie</th>
                                <th>Shootout</th>
                        </tr>
                        {% for f in free_agents %}
                                <tr>
                                        <td>{{f.skater.name}}</td>
                                        {% if only_freeagents == "1" %}<td>{{f.skater.get_owner}}</td>{% endif %}
                                        <td>{{f.skater.hockey_team}}</td>
                                        <td>{{f.skater.position}}</td>
                                        <td>{{f.skater.games}}</td>
                                        <td>{{f.skater.fantasy_points}}</td>
                                        <td>{{f.cat_points.goals}}</td>
                                        <td>{{f.cat_points.assists}}</td>
                                        <td>{{f.cat_points.plus_minus}}</td>
                                        <td>{{f.cat_points.offensive_special}}</td>
                                        <td>{{f.cat_points.true_grit}}</td>
                                        <td>{{f.cat_points.goalie}}</td>
                                        <td>{{f.cat_points.shootout}}</td>

                                </tr>
                        {% endfor %}
                {% endif %}
        {% else %}
                {% if view_type == "0" %}
                        <tr>
                                <th>Name</th>
                                {% if only_freeagents == "1" %}<th>Owner</th>{% endif %}
                                <th>Team</th>
                                <th>Pos</th>
                                <th>GP</th>
                                <th>G</th>
                                <th>A</th>
                                <th>P</th>
                                <th>+/-</th>
                                <th>PPG</th>
                                <th>PPA</th>
                                <th>SHG</th>
                                <th>SHA</th>
                                <th>GWG</th>
                                <th>PSG</th>
                                <th>PIM</th>
                                <th>H</th>
                                <th>S</th>
                                <th>B</th>
                                <th>Gy</th>
                                <th>Ty</th>
                                <th>FOW</th>
                                <th>FOL</th>
                                <th>F</th>
                                <th>SOG</th>
                                <th>SOM</th>
                                <th>FP</th>
                        </tr>
                        {% for f in free_agents %}
                                <tr>
                                        <td>{{f.skater.name}}</td>
                                        {% if only_freeagents == "1" %}<td>{{f.skater.get_owner}}</td>{% endif %}
                                        <td>{{f.skater.hockey_team}}</td>
                                        <td>{{f.skater.position}}</td>
                                        <td>{{f.skater.games}}</td>
                                        <td>{{f.skater.goals}}</td>
                                        <td>{{f.skater.assists}}</td>
                                        <td>{{f.skater.points}}</td>
                                        <td>{{f.skater.plus_minus}}</td>
                                        <td>{{f.skater.ppg}}</td>
                                        <td>{{f.skater.ppa}}</td>
                                        <td>{{f.skater.shg}}</td>
                                        <td>{{f.skater.sha}}</td>
                                        <td>{{f.skater.gwg}}</td>
                                        <td>{{f.skater.psg}}</td>
                                        <td>{{f.skater.pims}}</td>
                                        <td>{{f.skater.hits}}</td>
                                        <td>{{f.skater.shots}}</td>
                                        <td>{{f.skater.blocks}}</td>
                                        <td>{{f.skater.giveaways}}</td>
                                        <td>{{f.skater.takeaways}}</td>
                                        <td>{{f.skater.faceoff_win}}</td>
                                        <td>{{f.skater.faceoff_loss}}</td>
                                        <td>{{f.skater.fights}}</td>
                                        <td>{{f.skater.shootout_made}}</td>
                                        <td>{{f.skater.shootout_fail}}</td>
                                        <td>{{f.skater.fantasy_points}}</td>
                                </tr>
                        {% endfor %}
                {% else %}
                        <tr>
                                <th>Name</th>
                                {% if only_freeagents == "1" %}<th>Owner</th>{% endif %}
                                <th>Team</th>
                                <th>Pos</th>
                                <th>GP</th>
                                <th>Fantasy</th>
                                <th>Goals</th>
                                <th>Assists</th>
                                <th>+/-</th>
                                <th>Specialty</th>
                                <th>True Grit</th>
                                <th>Goalie</th>
                                <th>Shootout</th>
                        </tr>
                        {% for f in free_agents %}
                                <tr>
                                        <td>{{f.skater.name}}</td>
                                        {% if only_freeagents == "1" %}<td>{{f.skater.get_owner}}</td>{% endif %}
                                        <td>{{f.skater.hockey_team}}</td>
                                        <td>{{f.skater.position}}</td>
                                        <td>{{f.skater.games}}</td>
                                        <td>{{f.skater.fantasy_points}}</td>
					<td>{{f.cat_points.goals}}</td>
					<td>{{f.cat_points.assists}}</td>
					<td>{{f.cat_points.plus_minus}}</td>
					<td>{{f.cat_points.offensive_special}}</td>
					<td>{{f.cat_points.true_grit}}</td>
					<td>{{f.cat_points.goalie}}</td>
					<td>{{f.cat_points.shootout}}</td>
                                </tr>
                        {% endfor %}
                {% endif %}
        {% endif %}
{% else %}
        <tr>
                <th>Name</th>
                {% if only_freeagents == "1" %}<th>Owner</th>{% endif %}
                <th>Team</th>
                <th>Pos</th>
                <th>GP</th>
                <th>Fantasy</th>
                <th>Goals</th>
                <th>Assists</th>
                <th>+/-</th>
                <th>Specialty</th>
                <th>True Grit</th>
                <th>Goalie</th>
                <th>Shootout</th>
        </tr>
        {% for p in free_agents %}
                <tr>
                        <td>{{p.skater.name}}</td>
			{% if only_freeagents == "1" %}<td>{{f.skater.get_owner}}</td>{% endif %}
                        <td>{{p.skater.hockey_team}}</td>
                        <td>{{p.skater.position}}</td>
                        <td>{{p.skater.games}}</td>
                        <td>{{p.cat_points.fantasy_points}}</td>
                        <td>{{p.cat_points.goals}}</td>
                        <td>{{p.cat_points.assists}}</td>
                        <td>{{p.cat_points.plus_minus}}</td>
                        <td>{{p.cat_points.offensive_special}}</td>
                        <td>{{p.cat_points.true_grit}}</td>
                        <td>{{p.cat_points.goalie}}</td>
                        <td>{{p.cat_points.shootout}}</td>
        {% endfor %}
{% endif %}

</table>
</p>
</div>
</div>
{% endblock %}

