{% extends "bootstrap_base.html" %}

{% block primary %}
	<div class="container">
		<div class="col-lg-8">
			{% autoescape off %}
			{% for p in mainFrame.posts %}
				<h1>{{p.title}}</h1>
				<p>{{p.text}}</p>
			{% endfor %}
			<p>{{rulebook.text}}</p>
			{% endautoescape %}
		</div>
		<div class="col-lg-4">
			<h3>Current Scores</h3>
			{% for m in sideFrame.matches %}
				<div class="panel panel-default">
				  <div class="panel-body" style="padding:1px;">
					<table class="table table-striped table-hover " style="margin-bottom:1px;">
					  <thead>
					    <tr>
					      <th>Team</th>
					      <th>Score</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <td style="padding:2px;">{{m.match.home_player}}</td>
					      <td style="padding:2px;">{{m.home.score}}</td>
					    </tr>
                                            <tr>
                                              <td style="padding:2px;">{{m.match.away_player}}</td>
                                              <td style="padding:2px;">{{m.away.score}}</td>
                                            </tr>
					  </tbody>
					</table>
				  </div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

