{% extends "bootstrap_base.html" %}

{% block primary %}
<div class="container">
<p class="text-center">Bring out yer dead</p>
<table class="sortable table table-striped table-hover table-nonfluid" id="injury_table">
        <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Date</th>
                <th>Status</th>
                <th>Description</th>
        </tr>
        {% for i in injuries %}
        <tr>
                <td><a href="/skater/{{i.skater.nhl_id}}">{{i.skater.first_name}} {{i.skater.last_name}}</a></td>
                <td>{{i.skater.hockey_team}}</td>
                <td>{{i.date}}</td>
                <td>{{i.status}}</td>
                <td>{{i.description}}</td>
        </tr>
        {% endfor %}
</table>
</div>
{% endblock %}

