{% extends "bootstrap_base.html" %}

{% block primary %}
<div class="container">
<table class="sortable table table-hover table-striped" id="standings_table">
        <tr>
                <th>Team</th>
                <th>Conf</th>
                <th>W</th>
                <th>L</th>
                <th>Streak</th>
                <th>Cats</th>
                <th>FP</th>
                <th>Goals</th>
                <th>Assists</th>
                <th>+/-</th>
                <th>OS</th>
                <th>TG</th>
                <th>Goalie</th>
                <th>SO</th>
		<th>FPFPG</th>
		<th>FPAPG</th>
		<th>Cats Against</th>
        </tr>
{% for p in p_data %}
        <tr {% if p.conference_lead %}class="strong"{% endif %}>
                <td>{% if p.clinch %}({{p.clinch}}){% endif %}&nbsp;{{p.name}}</td>
                <td>{{p.conference}}</td>
                <td>{{p.wins|default_if_none:"0"}}</td>
                <td>{{p.loss|default_if_none:"0"}}</td>
                <td>{{p.streak|default_if_none:"0"}}</td>
                <td>{{p.categories|default_if_none:"0"}}</td>
                <td>{{p.points.fantasy_points|default_if_none:"0"}}</td>
                <td>{{p.points.goals|default_if_none:"0"}}</td>
                <td>{{p.points.assists|default_if_none:"0"}}</td>
                <td>{{p.points.plus_minus|default_if_none:"0"}}</td>
                <td>{{p.points.offensive_special|default_if_none:"0"}}</td>
                <td>{{p.points.true_grit|default_if_none:"0"}}</td>
                <td>{{p.points.goalie|default_if_none:"0"}}</td>
                <td>{{p.points.shootout|default_if_none:"0"}}</td>
		<td>{{p.points.per_game|default_if_none:"0"}}</td>
		<td>{{p.points_against.fp_per_game|default_if_none:"0"}}</td>
		<td>{{p.categories_against|default_if_none:"0"}}</td>
        </tr>
{% endfor %}
</table>
<div class="col-lg-6">
    <p>Tie Break Procedure (not yet finalized):
    <ol>
            <li>Greater number of weekly wins</li>
            <li>Greater number of total category wins</li>
            <li>Head to head record</li>
            <li>Total fantasy points</li>
            <li>Greatest number of goals, assist, points, plus minus... in order til a winner is found</li>
    </ol>
    </p>
</div>
<div class="col-lg-6">
<p>Notations:</p>
<ul>
    <li>x: Clinch a playoff spot</li>
    <li>y: Clinched first round playoff bye</li>
    <li>z: Clinched regular season championships</li>
</ul>
</div>
</div>
{% endblock %}

