{% extends "bootstrap_base.html" %}

{% block primary %}
<div class="container">
<div class="col-md-8 col-md-offset-2">
<p>Detailed listing for team: {{team_id}}</p>
<table id="team_table" class="sortable table">
        <thead>
                <tr>
                        <th>Name</th>
                        <th>P</th>
                        <th>T</th>
                        <th>P</th>
                        <th>FP</th>
                        <th>G</th>
                        <th>A</th>
                        <th>+/-</th>
                        <th>OS</th>
                        <th>TG</th>
                        <th>Goalie</th>
                        <th>SO</th>
                </tr>
        </thead>
        <tbody>
{% for t in team %}
        <tr>
                <td><a href="/skater/{{t.skater.nhl_id}}">{{t.skater.name}}</a></td>
                <td>{{t.skater.position}}</td>
                <td>{{t.skater.hockey_team}}</td>
                <td>{{t.skater.games|default_if_none:"0"}}</td>
                <td>{{t.category_points.fantasy_points|default_if_none:"0"}}</td>
                <td>{{t.category_points.goals|default_if_none:"0"}}</td>
                <td>{{t.category_points.assists|default_if_none:"0"}}</td>
                <td>{{t.category_points.plus_minus|default_if_none:"0"}}</td>
                <td>{{t.category_points.offensive_special|default_if_none:"0"}}</td>
                <td>{{t.category_points.true_grit|default_if_none:"0"}}</td>
                <td>{{t.category_points.goalie|default_if_none:"0"}}</td>
                <td>{{t.category_points.shootout|default_if_none:"0"}}</td>
        </tr>
{% endfor %}
</table>
</div>
</div>
{% endblock %}
