{% extends "bootstrap_base.html" %}

{% block page_js %}
<script src="/scripts/trades/trades.js"></script>
{% endblock %}


{% block primary %}
<div class="container">
{% if passed == 1 %}
    <h1>Trade deadline has passed</h1>
{% else %}
	<div class="col-lg-6">
		<div id="success_div"></div>
		<div id="current_trades">
			<h1>Pending Trades</h1>
			{% if t_in == 1 %}
			<p>You have the following incoming trades pending:</p>
			<table class="table table-striped table-nonfluid sortable" id="incoming_trades">
				<tr>
					<th>Inc Player</th>
					<th>Inc Player Team</th>
					<th>Out Player</th>
					<th>Out Player Team</th>
					<th>Accept</th>
					<th>Cancel</th>
				<tr>{% autoescape off %}
				{% for t in in_trades %}
				<tr>
					<td><a href="/skater/{{t.skater1.nhl_id}}">{{t.skater1.get_name}}</a></td>
					<td>{{t.skater1.hockey_team}}</td>
					<td><a href="/skater/{{t.skater2.nhl_id}}">{{t.skater2.get_name}}</a></td>
					<td>{{t.skater2.hockey_team}}</td>
					<td><a href="/trades/accept/{{t.id}}">Accept</a></td>
					<td><a href="/trades/cancel/{{t.id}}">Cancel</a></td>
				</tr>
				{% endfor %}{% endautoescape %}
			</table>
			{% else %}
			<p>No incoming pending trades</p>
			{% endif%}

			{% if t_out == 1 %}
			<p>You have the following outgoing trades pending:</p>
			<table class="sortable table table-striped table-nonfluid" id="outgoing_trades">
				<tr>
					<th>Inc Player</th>
					<th>Inc Player Team</th>
					<th>Out Player</th>
					<th>Out Player Team</th>
					<th>Cancel</th>
				<tr>{% autoescape off %}
				{% for t in out_trades %}
				<tr>
					<td><a href="/skater/{{t.skater2.nhl_id}}">{{t.skater2.get_name}}</a></td>
					<td>{{t.skater2.hockey_team}}</td>
					<td><a href="/skater/{{t.skater1.nhl_id}}">{{t.skater1.get_name}}</a></td>
					<td>{{t.skater1.hockey_team}}</td>
					<td><a href="/trades/cancel/{{t.id}}">Cancel</a></td>
				</tr>
				{% endfor %}{% endautoescape %}
			</table>
			{% else %}
			<p>No outgoing pending trades</p>
			{% endif%}
		</div>
		<div id="all_trades">
			<h1>All Trades</h1>
			{% if all_trades|length > 0 %}
			<p>The following trades have recently been made: </p>
			<table id="all_trades" class="sortable table table-striped table-nonfluid">
				<tr>
					<th>Team</th>
					<th>Skater</th>
					<th>Team</th>
					<th>Skater</th>
				</tr>
                {% autoescape off %}
				{% for t in all_trades %}<tr><td>{{t.player1.name}}</td><td>{{t.skater1.get_name}}</td><td>{{t.player2.name}}</td><td>{{t.skater2.get_name}}</td></tr>{% endfor %}{% endautoescape %}
			</table>
			{% else %}
			<p>There are no recent trades to report</p>
			{% endif %}
		</div>
	</div>
	<div class="col-lg-5">
		<h1>Trades</h1>
		<p>Use the following for to trade players</p>
		<div id="trade_div" class="trade_div">
			<table class="table table-nonfluid">
				<tr>
					<td>Your Player</td>
					<td><input type="text" id="trade_own" name="trade_own" onkeyup="trade_own_player(event, this)"></input><input type="hidden" name="trade_own_id" id="trade_own_id" /></td><td id="suggestions_own"></td>
					
				</tr>
				<tr>
					<td>Other Player</td>
					<td><input type="text" id="trade_other" name="trade_other" onkeyup="trade_other_player(event, this)"></input><input type="hidden" name="trade_other_id" id="trade_other_id" /></td><td id="suggestions_other"></td>
				</tr>
			</table>
		</div>
		<button id="trade_players" name="trade_players" onclick="trade_players()">Trade</button>
	</div>
</div>
{% endif %}
{% endblock %}

